@model AddUserTempViewModel
@{
    ViewData["Title"] = "Add User";
}

<h1>Add a new user</h1>

<p>
    This page allows administrators to add new users.
</p>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@if (Model.CreatedUser)
{
    <div class="alert alert-success">
        @Model.NewUsername was created successfully.
    </div>
}

@using (Html.BeginForm("AddUserTemp", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>New user's information</legend>

        <div>
            @Html.LabelFor(m => m.NewUsername)
            @Html.TextBoxFor(m => m.NewUsername, new { maxlength = 40, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewUsername)
        </div>

        <div>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { maxlength = 60, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div>
            @Html.LabelFor(m => m.NewEmail)
            @Html.TextBoxFor(m => m.NewEmail, new { maxlength = 60, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewEmail)
        </div>

        <div>
            @Html.CheckBoxFor(m => m.MakeNewUserAdmin)
            @Html.LabelFor(m => m.MakeNewUserAdmin)
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Add User</button>
}